/* SignInPage.css file */

.sign-in-page {
  padding: 20px;
  background-image: url("../../images/heroPhoto.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure the background covers the entire viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-title {
  font-size: 20px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 0px;
  margin-right: 195px;
}

.sign-in-form {
  width: 300px;
  padding: 20px;
  background-color: rgba(93, 169, 233, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  margin: auto;
  margin-top: 50px;
}
.first-sign-in-label {
  display: block;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 14px;
}

.sign-in-label {
  display: block;
  margin-bottom: -20px;
  margin-top: 0px;
  font-size: 14px;
}

.sign-in-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.sign-in-button {
  background-color: #5682d2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #4565a0;
}

.new-user-text {
  color: #ffffff;
  display: inline-block;
  border: none;
  margin-left: 20px;
}

.register-link-button {
  color: #072b6e;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.register-link-button:hover {
  color: #3967bc;
}
